@model IEnumerable<DotNetWebApp.Models.RentHistoryModel>
@{
	ViewData["Title"] = "My Rents";
}

<div class="page-wrapper">
	<header class="page-header">
		<h1>My Rents</h1>
	</header>

	<div class="car-grid">
		@foreach (var item in Model)
		{
			<div class="car-card">
				<!-- xxxxx -->
				<div class="car-info">
					<p class="car-license">License Plate: @item.Offer.Car.LicensePlate</p>
					<p class="car-brand">Car Brand: @item.Offer.Car.CarBrand</p>
					<p class="car-model">Car Model: @item.Offer.Car.CarModel</p>
					<p class="car-rentdate">Rent Date: @item.RentDate</p>
					<p class="car-returned">Returned: @item.IsReturned</p>
					@if (item.RentState == RentState.Failure)
					{
						<p>Something went wrong</p>
					}
					else if (item.RentState == RentState.In_Progess)
					{
						<p>Waiting for Rent Confirmation</p>
					}
					else if (!item.IsReadyToReturn)
					{
						<a asp-action="Return" asp-route-Id="@item.Id" asp-route-Platform="@item.Platform" class="btn btn-primary">
							Return
						</a>
					}
					else if (item.IsReadyToReturn && !item.IsReturned)
					{
						<p>Waiting for Renturn Confirmation</p>
					}
					else
					{
						<p>Returned</p>
					}
				</div>
			</div>
		}
	</div>


</div>
